Body{
  
    padding-left: 200px;
    padding-right: 100px;
    font-family: monospace;
    background-color: #B7B7A4;

}

h1{
    font-family: monospace;
    padding-top: 40px;

}

p, h1, h2{
    text-align: center;
}

h3, h1{
    font-style: italic;
    color: #c0886b;
    font-weight: bold;
    text-decoration: underline;
}

.picture{
    height: 300px;
    object-fit: cover;
    width: 300px;
    border-radius: 15%;
    text-align: center;
    float: left;
    padding: 10px;
    background-color: #6B705C;
}

.menu{
    text-align:end;
}


.image-container{
    height: 320px;
    position: relative;
    padding-top: 70px;
    padding-bottom: 300px;
}

.descricao{
    position: absolute;
    top: 25%;
    left: 40%;
    right: 20px;

}

.sobre{
    padding-top: -px;
}
ul li:nth-child(odd){
    font-weight: bold;
}

li:hover{
    background-color: #FFE8D6;
    font-size: larger;
}
.contatos{
    padding-bottom: 60px;
    list-style-type: none;
}

.linkedin{
    width: 100px;
}
.github{
    width: 100px;
}

.skills, .hard, .skila{
    padding-bottom: 100px;
}

.contatos:hover{
    box-shadow: inset;
}

header{
    margin: 0px;
    padding: 0px;
    
}

li.itemmenu{
    color: black;
    padding: 0px;
    list-style-type: none;
}

.itemmenu:hover{
    background-color:initial;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    background: rgba(0, 0, 0, .05);
}

#header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a5a58b;
}

#menu{
    display: flex;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: 1rem;
}

#voltar{
    font-size: 30px;
    padding-right: 0px;
    padding-bottom: 50px;
}

